*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;

    font-family: Arial, Helvetica, sans-serif;
}

body{

    height: 70vh;


}
.form{
    width: 400px;
    margin: 100px auto;
    box-shadow: 2px 2px 10px black;
    padding: 40px 20px 30px;
}
.title{
    text-align: center;
    margin-bottom: 20px;
}

.username label, .password label{
    display: block;
    margin-bottom: 6px;
    color: #515050;
}
.username input, .password input{
    width: 100%;
    margin-bottom: 16px;
    padding: 6px 6px;
    border-radius: 5px;
    border: 2px solid #beb6b6;
}
.login{
    background-color: rgb(68, 68, 255);
    color: #fff;
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.Forget{
    margin-top: 12px;
    display: block;
    text-align: center;
}